# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
ENV/
env/
template_mujoco_python/

# Distribution / packaging artifacts
*.egg-info/
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Log and data files (if not meant to be versioned)
*.log
data/
src/recordings/
